@import "../../responsive.scss";

.nav {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  a {
    transition: all 400ms ease;

    @include sm {
      display: none;
    }

    &:hover {
      scale: 1.05;
    }
  }

  .left {
    flex: 3;
    display: flex;
    align-items: center;
    gap: 50px;

    .logo {
      font-weight: bold;
      font-size: 20px;
      display: flex;
      gap: 10px;
      align-items: center;

      img {
        width: 28px;
      }

      @include md {
        span {
          display: none;
        }
      }

      @include sm {
        span {
          display: initial;
        }
      }
    }
  }

  .right {
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background: var(--right-col-color);
    height: 100%;

    @include md {
      background-color: transparent;
    }

    a {
      padding: 12px 24px;
      margin: 20px;
    }

    .register__btn {
      background-color: var(--yellow-color);
      border-radius: 5px;
    }

    .menu__icon {
      display: none;
      z-index: 999;

      img {
        width: 36px;
        cursor: pointer;
      }

      @include sm {
        display: inline;
      }
    }

    .menu {
      position: absolute;
      height: 100vh;
      background-color: var(--primary-dark-color);
      color: var(--primary-light-color);
      width: 50%;
      top: 0;
      right: -50%;
      transition: all 1s ease;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      &.active {
        right: 0;
      }

      @include sm {
        a {
          display: initial;
        }
      }
    }
  }
}
