:root {
  --primary-color: rgb(247, 210, 196);
  --right-col-color: #fcf5f3;
  --primary-dark-color: black;
  --primary-light-color: white;
  --secondary-light-color: #999;
  --yellow-color: #fece51;
  --hover-btn-color: #f7f7f7;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: "Lato", sans-serif;
  overflow: hidden;
}